* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #505357be;
}

header {
    color: white;
    background-color: #222831;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;

    padding: 10px;

}

.socialinks a {
    margin-left: 10px;
}

#menubar {
    height: 50px;
    width: 100%;
    font-size: larger;
    background-color: #393E46;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    background-color: #DFD0B8;
    height: 400px;
    width: 300px;
    padding: 10px;
    color: rgb(7, 7, 7);
    margin-left: 20px;
    margin-right: 10px;
   
}

#sidebar {
    padding: 20px;
    height: 470px;
    /* color: white; */
    width: 250px;
    background-color: #948979;
}

#middle {
    display: flex;
    display: inline-flex;
}

#main-content {
    display: flex;
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
}
img{
    width:270px;
}

footer{
    color: black;
    background-color: #FFF2E0;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}